<!DOCTYPE html>
<html>
  <head>
    <title>Bowling information and schedule</title>
    <table>
    <tr>
      <th>Hours</th>
      <th>Tournaments dates</th>
      <th>Bowling alley</th>
    </tr>
    <tr> 
      <td></td>
      <td></td.
    </tr>
    </table>
  </head>
</html>